openapi: 3.0.3
info:
  title: PraktiQU API (Next.js /api/v1)
  description: >-
    Complete REST surface of the PraktiQU Next.js app — the native features (auth, sessions, professionals,
    clients, practices, bills, taxes, consent, custom-fields, email-templates, session-notes,
    intervention-plans) plus the KiviCare port (encounters, prescriptions, medical-history,
    patient-medical-reports, receptionists, doctor-sessions, schedules, dashboard, import, ratings, followups,
    gdpr).


    Two response conventions coexist: **KC modules** return `{status, message, data}` (see `KcEnvelope`);
    **standard modules** return the entity/`data` directly or an RFC-7807 `problem+json` error. Auth is a
    Bearer JWT except `/api/v1/public/*` and the login/register endpoints. KC endpoints are additionally gated
    by a capability (shown per operation); a role lacking it gets 403.


    Generated from the route files — the endpoint inventory is exhaustive; request-body schemas are generic
    objects except where a named schema is provided.
  version: 1.0.0
  contact:
    name: PraktiQU
    url: https://praktiqu.com
servers:
  - url: https://staging2.praktiqu.com
    description: Staging
  - url: http://localhost:3000
    description: Local
security:
  - bearerAuth: []
tags:
  - name: auth
    description: Auth endpoints (9 operations)
  - name: bills
    description: Bills endpoints (12 operations)
  - name: clients
    description: Clients endpoints (14 operations)
  - name: clinic-schedules
    description: Clinic Schedules endpoints (7 operations)
  - name: consent-forms
    description: Consent Forms endpoints (6 operations)
  - name: consent-signatures
    description: Consent Signatures endpoints (2 operations)
  - name: custom-fields
    description: Custom Fields endpoints (9 operations)
  - name: dashboard
    description: Dashboard endpoints (5 operations)
  - name: professional-sessions
    description: Doctor Sessions endpoints (8 operations)
  - name: email-templates
    description: Email Templates endpoints (6 operations)
  - name: encounters
    description: Encounters endpoints (9 operations)
  - name: followup-chains
    description: Followup Chains endpoints (4 operations)
  - name: followup-reminders
    description: Followup Reminders endpoints (1 operations)
  - name: followups
    description: Followups endpoints (13 operations)
  - name: gdpr
    description: Gdpr endpoints (11 operations)
  - name: import
    description: Import endpoints (3 operations)
  - name: intervention-plans
    description: Intervention Plans endpoints (5 operations)
  - name: medical-history
    description: Medical History endpoints (6 operations)
  - name: notes-templates
    description: Notes Templates endpoints (5 operations)
  - name: patient-medical-reports
    description: Patient Medical Reports endpoints (10 operations)
  - name: practices
    description: Practices endpoints (17 operations)
  - name: prescriptions
    description: Prescriptions endpoints (7 operations)
  - name: professionals
    description: Professionals endpoints (23 operations)
  - name: public
    description: Public endpoints (15 operations)
  - name: ratings
    description: Ratings endpoints (5 operations)
  - name: receptionists
    description: Receptionists endpoints (10 operations)
  - name: session-notes
    description: Session Notes endpoints (5 operations)
  - name: sessions
    description: Sessions endpoints (22 operations)
  - name: taxes
    description: Taxes endpoints (9 operations)
  - name: webhooks
    description: Webhooks endpoints (1 operations)
paths:
  /api/v1/auth/change-password:
    post:
      tags:
        - auth
      summary: Change Password (POST) — auth
      operationId: post_api_v1_auth_change_password
      description: '**Response envelope:** standard / RFC-7807 problem+json'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
      security:
        - bearerAuth: []
  /api/v1/auth/delete-account:
    delete:
      tags:
        - auth
      summary: Delete Account (DELETE) — auth
      operationId: delete_api_v1_auth_delete_account
      description: '**Response envelope:** standard / RFC-7807 problem+json'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - bearerAuth: []
  /api/v1/auth/forgot-password:
    post:
      tags:
        - auth
      summary: Forgot Password (POST) — auth
      operationId: post_api_v1_auth_forgot_password
      description: '**Response envelope:** standard / RFC-7807 problem+json'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
      security: []
  /api/v1/auth/login:
    post:
      tags:
        - auth
      summary: Login (POST) — auth
      operationId: post_api_v1_auth_login
      description: '**Response envelope:** standard / RFC-7807 problem+json'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
      security: []
  /api/v1/auth/logout:
    post:
      tags:
        - auth
      summary: Logout (POST) — auth
      operationId: post_api_v1_auth_logout
      description: '**Response envelope:** standard / RFC-7807 problem+json'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
      security: []
  /api/v1/auth/me:
    get:
      tags:
        - auth
      summary: Me (GET) — auth
      operationId: get_api_v1_auth_me
      description: '**Response envelope:** standard / RFC-7807 problem+json'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
      security: []
  /api/v1/auth/refresh:
    post:
      tags:
        - auth
      summary: Refresh (POST) — auth
      operationId: post_api_v1_auth_refresh
      description: '**Response envelope:** standard / RFC-7807 problem+json'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
      security: []
  /api/v1/auth/register:
    post:
      tags:
        - auth
      summary: Register (POST) — auth
      operationId: post_api_v1_auth_register
      description: '**Response envelope:** standard / RFC-7807 problem+json'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
      security:
        - bearerAuth: []
  /api/v1/auth/reset-password:
    post:
      tags:
        - auth
      summary: Reset Password (POST) — auth
      operationId: post_api_v1_auth_reset_password
      description: |-
        **Response envelope:** standard / RFC-7807 problem+json

        _May return 501 (stub / not wired)._
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
      security: []
  /api/v1/bills:
    get:
      tags:
        - bills
      summary: List bills
      operationId: get_api_v1_bills
      description: |-
        **Capability:** `patient_bill_list`

        **Response envelope:** KC `{status,message,data}`
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KcEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
        - bearerAuth: []
    post:
      tags:
        - bills
      summary: Create bills
      operationId: post_api_v1_bills
      description: |-
        **Capability:** `patient_bill_add`

        **Response envelope:** KC `{status,message,data}`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KcEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
      security:
        - bearerAuth: []
  /api/v1/bills/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - bills
      summary: Get bills by id
      operationId: get_api_v1_bills_id
      description: |-
        **Capability:** `patient_bill_view`

        **Response envelope:** KC `{status,message,data}`
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KcEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []
    put:
      tags:
        - bills
      summary: Update bills by id
      operationId: put_api_v1_bills_id
      description: |-
        **Capability:** `patient_bill_add`

        **Response envelope:** KC `{status,message,data}`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KcEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
      security:
        - bearerAuth: []
  /api/v1/bills/{id}/email:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      tags:
        - bills
      summary: Create email
      operationId: post_api_v1_bills_id_email
      description: |-
        **Capability:** `patient_bill_view`

        **Response envelope:** KC `{status,message,data}`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KcEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
      security:
        - bearerAuth: []
  /api/v1/bills/{id}/print:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - bills
      summary: Print (GET) — bills
      operationId: get_api_v1_bills_id_print
      description: |-
        **Capability:** `patient_bill_view`

        **Response envelope:** standard / RFC-7807 problem+json
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []
  /api/v1/bills/by-encounter/{encounterId}:
    parameters:
      - name: encounterId
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - bills
      summary: Get by encounter by id
      operationId: get_api_v1_bills_by_encounter_encounterId
      description: |-
        **Capability:** `patient_bill_view`

        **Response envelope:** KC `{status,message,data}`
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KcEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []
  /api/v1/bills/calculate-tax:
    post:
      tags:
        - bills
      summary: Create calculate tax
      operationId: post_api_v1_bills_calculate_tax
      description: |-
        **Capability:** `patient_bill_view`

        **Response envelope:** KC `{status,message,data}`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KcEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
      security:
        - bearerAuth: []
  /api/v1/bills/encounters-without-bill:
    get:
      tags:
        - bills
      summary: List encounters without bill
      operationId: get_api_v1_bills_encounters_without_bill
      description: |-
        **Capability:** `patient_bill_list`

        **Response envelope:** KC `{status,message,data}`
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KcEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
        - bearerAuth: []
  /api/v1/bills/export:
    get:
      tags:
        - bills
      summary: Export (GET) — bills
      operationId: get_api_v1_bills_export
      description: |-
        **Capability:** `patient_bill_list`

        **Response envelope:** KC `{status,message,data}`
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KcEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
        - bearerAuth: []
  /api/v1/bills/item/{itemId}:
    parameters:
      - name: itemId
        in: path
        required: true
        schema:
          type: string
    delete:
      tags:
        - bills
      summary: Delete item by id
      operationId: delete_api_v1_bills_item_itemId
      description: |-
        **Capability:** `patient_bill_add` / `patient_bill_delete`

        **Response envelope:** KC `{status,message,data}`
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KcEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []
    put:
      tags:
        - bills
      summary: Update item by id
      operationId: put_api_v1_bills_item_itemId
      description: |-
        **Capability:** `patient_bill_add` / `patient_bill_delete`

        **Response envelope:** KC `{status,message,data}`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KcEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
      security:
        - bearerAuth: []
  /api/v1/clients:
    get:
      tags:
        - clients
      summary: List clients
      description: >-
        Patients from `wp_users` carrying the `kiviCare_patient` capability. Scoped to the actor's clinic
        unless the actor is a SUPER_ADMIN.
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: integer
            minimum: 1
            default: 1
          required: false
          name: page
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          required: false
          name: limit
          in: query
        - schema:
            type: string
            minLength: 1
            maxLength: 100
          required: false
          name: search
          in: query
        - schema:
            type: string
            enum:
              - ACTIVE
              - INACTIVE
              - ARCHIVED
          required: false
          name: status
          in: query
      responses:
        '200':
          description: Paginated clients
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        uniqueClientId:
                          type: string
                          nullable: true
                        fullName:
                          type: string
                        email:
                          type: string
                          format: email
                        mobileNumber:
                          type: string
                          nullable: true
                        status:
                          type: string
                          enum:
                            - ACTIVE
                            - INACTIVE
                            - ARCHIVED
                        sessionCount:
                          type: integer
                        createdAt:
                          type: string
                          format: date-time
                      required:
                        - id
                        - uniqueClientId
                        - fullName
                        - email
                        - mobileNumber
                        - status
                        - sessionCount
                        - createdAt
                  pagination:
                    type: object
                    properties:
                      currentPage:
                        type: integer
                      totalPages:
                        type: integer
                      totalItems:
                        type: integer
                      itemsPerPage:
                        type: integer
                    required:
                      - currentPage
                      - totalPages
                      - totalItems
                      - itemsPerPage
                required:
                  - data
                  - pagination
        '401':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '403':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
    post:
      tags:
        - clients
      summary: Register a client
      description: >-
        Creates a WordPress user with the `kiviCare_patient` capability via the praktiqu-endpoint plugin, so
        KiviCare's `kc_patient_save` listeners fire and the welcome email is sent.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fullName:
                  type: string
                  minLength: 1
                  maxLength: 100
                email:
                  type: string
                  minLength: 1
                  maxLength: 255
                  format: email
                mobileNumber:
                  type: string
                  minLength: 1
                  pattern: ^\+?\d{8,20}$
                dateOfBirth:
                  type: string
                  minLength: 1
                gender:
                  type: string
                  enum:
                    - MALE
                    - FEMALE
                    - OTHER
                address:
                  anyOf:
                    - type: string
                      maxLength: 500
                    - type: string
                      enum:
                        - ''
                emergencyContact:
                  anyOf:
                    - type: string
                      maxLength: 100
                    - type: string
                      enum:
                        - ''
                notes:
                  anyOf:
                    - type: string
                      maxLength: 1000
                    - type: string
                      enum:
                        - ''
              required:
                - fullName
                - email
                - mobileNumber
                - dateOfBirth
                - gender
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: WordPress user ID (wp_users.ID)
                      clinicId:
                        type: integer
                        nullable: true
                      uniqueClientId:
                        type: string
                        nullable: true
                        description: patient_unique_id meta, e.g. "PAT-0001"
                      fullName:
                        type: string
                      email:
                        type: string
                        format: email
                      mobileNumber:
                        type: string
                        nullable: true
                      dateOfBirth:
                        type: string
                        nullable: true
                        description: YYYY-MM-DD
                      gender:
                        type: string
                        nullable: true
                      address:
                        type: string
                        nullable: true
                      emergencyContact:
                        type: string
                        nullable: true
                      notes:
                        type: string
                        nullable: true
                      status:
                        type: string
                        enum:
                          - ACTIVE
                          - INACTIVE
                          - ARCHIVED
                      createdAt:
                        type: string
                        format: date-time
                      sessionCount:
                        type: integer
                        description: KiviCare appointments for this patient
                    required:
                      - id
                      - clinicId
                      - uniqueClientId
                      - fullName
                      - email
                      - mobileNumber
                      - dateOfBirth
                      - gender
                      - address
                      - emergencyContact
                      - notes
                      - status
                      - createdAt
                      - sessionCount
                required:
                  - data
        '400':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '401':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '403':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '409':
          description: Email already registered
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '422':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
  /api/v1/clients/{id}:
    get:
      tags:
        - clients
      summary: Get a client
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: integer
            minimum: 0
            exclusiveMinimum: true
            example: 17
          required: true
          name: id
          in: path
      responses:
        '200':
          description: The client
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: WordPress user ID (wp_users.ID)
                      clinicId:
                        type: integer
                        nullable: true
                      uniqueClientId:
                        type: string
                        nullable: true
                        description: patient_unique_id meta, e.g. "PAT-0001"
                      fullName:
                        type: string
                      email:
                        type: string
                        format: email
                      mobileNumber:
                        type: string
                        nullable: true
                      dateOfBirth:
                        type: string
                        nullable: true
                        description: YYYY-MM-DD
                      gender:
                        type: string
                        nullable: true
                      address:
                        type: string
                        nullable: true
                      emergencyContact:
                        type: string
                        nullable: true
                      notes:
                        type: string
                        nullable: true
                      status:
                        type: string
                        enum:
                          - ACTIVE
                          - INACTIVE
                          - ARCHIVED
                      createdAt:
                        type: string
                        format: date-time
                      sessionCount:
                        type: integer
                        description: KiviCare appointments for this patient
                    required:
                      - id
                      - clinicId
                      - uniqueClientId
                      - fullName
                      - email
                      - mobileNumber
                      - dateOfBirth
                      - gender
                      - address
                      - emergencyContact
                      - notes
                      - status
                      - createdAt
                      - sessionCount
                required:
                  - data
        '400':
          description: Non-numeric client id
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '401':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '403':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '404':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
    patch:
      tags:
        - clients
      summary: Update a client
      description: Editable fields depend on the actor role; unpermitted fields return 403.
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: integer
            minimum: 0
            exclusiveMinimum: true
            example: 17
          required: true
          name: id
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fullName:
                  type: string
                  minLength: 1
                  maxLength: 100
                email:
                  type: string
                  maxLength: 255
                  format: email
                mobileNumber:
                  type: string
                  minLength: 1
                  pattern: ^\+?\d{8,20}$
                dateOfBirth:
                  type: string
                  minLength: 1
                gender:
                  type: string
                  enum:
                    - MALE
                    - FEMALE
                    - OTHER
                address:
                  anyOf:
                    - type: string
                      maxLength: 500
                    - type: string
                      enum:
                        - ''
                emergencyContact:
                  anyOf:
                    - type: string
                      maxLength: 100
                    - type: string
                      enum:
                        - ''
                notes:
                  anyOf:
                    - type: string
                      maxLength: 1000
                    - type: string
                      enum:
                        - ''
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: WordPress user ID (wp_users.ID)
                      clinicId:
                        type: integer
                        nullable: true
                      uniqueClientId:
                        type: string
                        nullable: true
                        description: patient_unique_id meta, e.g. "PAT-0001"
                      fullName:
                        type: string
                      email:
                        type: string
                        format: email
                      mobileNumber:
                        type: string
                        nullable: true
                      dateOfBirth:
                        type: string
                        nullable: true
                        description: YYYY-MM-DD
                      gender:
                        type: string
                        nullable: true
                      address:
                        type: string
                        nullable: true
                      emergencyContact:
                        type: string
                        nullable: true
                      notes:
                        type: string
                        nullable: true
                      status:
                        type: string
                        enum:
                          - ACTIVE
                          - INACTIVE
                          - ARCHIVED
                      createdAt:
                        type: string
                        format: date-time
                      sessionCount:
                        type: integer
                        description: KiviCare appointments for this patient
                    required:
                      - id
                      - clinicId
                      - uniqueClientId
                      - fullName
                      - email
                      - mobileNumber
                      - dateOfBirth
                      - gender
                      - address
                      - emergencyContact
                      - notes
                      - status
                      - createdAt
                      - sessionCount
                required:
                  - data
        '400':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '401':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '403':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '404':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '422':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
    delete:
      tags:
        - clients
      summary: Archive a client
      description: Soft delete. The client must already be INACTIVE.
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: integer
            minimum: 0
            exclusiveMinimum: true
            example: 17
          required: true
          name: id
          in: path
      responses:
        '200':
          description: Archived
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: WordPress user ID (wp_users.ID)
                      clinicId:
                        type: integer
                        nullable: true
                      uniqueClientId:
                        type: string
                        nullable: true
                        description: patient_unique_id meta, e.g. "PAT-0001"
                      fullName:
                        type: string
                      email:
                        type: string
                        format: email
                      mobileNumber:
                        type: string
                        nullable: true
                      dateOfBirth:
                        type: string
                        nullable: true
                        description: YYYY-MM-DD
                      gender:
                        type: string
                        nullable: true
                      address:
                        type: string
                        nullable: true
                      emergencyContact:
                        type: string
                        nullable: true
                      notes:
                        type: string
                        nullable: true
                      status:
                        type: string
                        enum:
                          - ACTIVE
                          - INACTIVE
                          - ARCHIVED
                      createdAt:
                        type: string
                        format: date-time
                      sessionCount:
                        type: integer
                        description: KiviCare appointments for this patient
                    required:
                      - id
                      - clinicId
                      - uniqueClientId
                      - fullName
                      - email
                      - mobileNumber
                      - dateOfBirth
                      - gender
                      - address
                      - emergencyContact
                      - notes
                      - status
                      - createdAt
                      - sessionCount
                required:
                  - data
        '400':
          description: Invalid status transition
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '401':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '403':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '404':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
  /api/v1/clients/{id}/custom-fields:
    get:
      tags:
        - clients
      summary: Get a client’s custom field values
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: integer
            minimum: 0
            exclusiveMinimum: true
            example: 17
          required: true
          name: id
          in: path
      responses:
        '200':
          description: Field definitions with their values
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        fieldId:
                          anyOf:
                            - type: string
                            - type: number
                        label:
                          type: string
                        type:
                          type: string
                        value:
                          nullable: true
                      required:
                        - fieldId
                required:
                  - items
        '401':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '404':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
    put:
      tags:
        - clients
      summary: Set a client’s custom field values
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: integer
            minimum: 0
            exclusiveMinimum: true
            example: 17
          required: true
          name: id
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                values:
                  type: array
                  items:
                    type: object
                    properties:
                      fieldId:
                        anyOf:
                          - type: string
                          - type: number
                      value:
                        nullable: true
                    required:
                      - fieldId
              required:
                - values
      responses:
        '200':
          description: Saved
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '401':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '404':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '422':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
  /api/v1/clients/{id}/resend-credentials:
    post:
      tags:
        - clients
      summary: Resend client credentials
      description: Not implemented — the handler returns 501.
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: integer
            minimum: 0
            exclusiveMinimum: true
            example: 17
          required: true
          name: id
          in: path
      responses:
        '501':
          description: Not implemented
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
  /api/v1/clients/{id}/statistics:
    get:
      tags:
        - clients
      summary: Client session statistics
      description: Counts the client’s KiviCare appointments.
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: integer
            minimum: 0
            exclusiveMinimum: true
            example: 17
          required: true
          name: id
          in: path
      responses:
        '200':
          description: Statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      totalSessions:
                        type: integer
                      lastSessionAt:
                        type: string
                        nullable: true
                        format: date-time
                    required:
                      - totalSessions
                      - lastSessionAt
                required:
                  - data
        '400':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '401':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '403':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '404':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
  /api/v1/clients/{id}/status:
    patch:
      tags:
        - clients
      summary: Change client status
      description: SUPER_ADMIN or CLINIC_ADMIN only.
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: integer
            minimum: 0
            exclusiveMinimum: true
            example: 17
          required: true
          name: id
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - ACTIVE
                    - INACTIVE
                    - ARCHIVED
              required:
                - status
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: WordPress user ID (wp_users.ID)
                      clinicId:
                        type: integer
                        nullable: true
                      uniqueClientId:
                        type: string
                        nullable: true
                        description: patient_unique_id meta, e.g. "PAT-0001"
                      fullName:
                        type: string
                      email:
                        type: string
                        format: email
                      mobileNumber:
                        type: string
                        nullable: true
                      dateOfBirth:
                        type: string
                        nullable: true
                        description: YYYY-MM-DD
                      gender:
                        type: string
                        nullable: true
                      address:
                        type: string
                        nullable: true
                      emergencyContact:
                        type: string
                        nullable: true
                      notes:
                        type: string
                        nullable: true
                      status:
                        type: string
                        enum:
                          - ACTIVE
                          - INACTIVE
                          - ARCHIVED
                      createdAt:
                        type: string
                        format: date-time
                      sessionCount:
                        type: integer
                        description: KiviCare appointments for this patient
                    required:
                      - id
                      - clinicId
                      - uniqueClientId
                      - fullName
                      - email
                      - mobileNumber
                      - dateOfBirth
                      - gender
                      - address
                      - emergencyContact
                      - notes
                      - status
                      - createdAt
                      - sessionCount
                required:
                  - data
        '400':
          description: Invalid status transition
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '401':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '403':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '404':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
  /api/v1/clients/bulk/delete:
    post:
      tags:
        - clients
      summary: Bulk archive clients
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: integer
                    minimum: 0
                    exclusiveMinimum: true
                  minItems: 1
                  description: WordPress user ids
              required:
                - ids
      responses:
        '200':
          description: How many were archived
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                required:
                  - count
        '401':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '403':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '422':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
  /api/v1/clients/bulk/resend-credentials:
    post:
      tags:
        - clients
      summary: Resend client credentials
      description: Not implemented — the handler returns 501.
      security:
        - bearerAuth: []
      responses:
        '501':
          description: Not implemented
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
  /api/v1/clients/bulk/status:
    post:
      tags:
        - clients
      summary: Bulk set client status
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: integer
                    minimum: 0
                    exclusiveMinimum: true
                  minItems: 1
                  description: WordPress user ids
                status:
                  type: string
                  enum:
                    - ACTIVE
                    - INACTIVE
                    - ARCHIVED
              required:
                - ids
                - status
      responses:
        '200':
          description: How many were updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                required:
                  - count
        '401':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '403':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '422':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
  /api/v1/clients/export:
    get:
      tags:
        - clients
      summary: Export clients
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: integer
            minimum: 0
            exclusiveMinimum: true
          required: false
          name: clinicId
          in: query
        - schema:
            type: string
            enum:
              - ACTIVE
              - INACTIVE
              - ARCHIVED
          required: false
          name: status
          in: query
      responses:
        '200':
          description: All matching clients
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        uniqueClientId:
                          type: string
                          nullable: true
                        fullName:
                          type: string
                        email:
                          type: string
                          format: email
                        mobileNumber:
                          type: string
                          nullable: true
                        status:
                          type: string
                          enum:
                            - ACTIVE
                            - INACTIVE
                            - ARCHIVED
                        sessionCount:
                          type: integer
                        createdAt:
                          type: string
                          format: date-time
                      required:
                        - id
                        - uniqueClientId
                        - fullName
                        - email
                        - mobileNumber
                        - status
                        - sessionCount
                        - createdAt
                required:
                  - data
        '401':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
        '403':
          description: RFC-7807 problem detail
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                required:
                  - type
                  - title
                  - status
  /api/v1/clinic-schedules:
    get:
      tags:
        - clinic-schedules
      summary: List clinic schedules
      operationId: get_api_v1_clinic_schedules
      description: |-
        **Capability:** `schedule_read`

        **Response envelope:** KC `{status,message,data}`
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KcEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
        - bearerAuth: []
    post:
      tags:
        - clinic-schedules
      summary: Create clinic schedules
      operationId: post_api_v1_clinic_schedules
      description: |-
        **Capability:** `schedule_manage`

        **Response envelope:** KC `{status,message,data}`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KcEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
      security:
        - bearerAuth: []
  /api/v1/clinic-schedules/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    delete:
      tags:
        - clinic-schedules
      summary: Delete clinic schedules by id
      operationId: delete_api_v1_clinic_schedules_id
      description: |-
        **Capability:** `schedule_manage`

        **Response envelope:** KC `{status,message,data}`
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KcEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []
    get:
      tags:
        - clinic-schedules
      summary: Get clinic schedules by id
      operationId: get_api_v1_clinic_schedules_id
      description: |-
        **Capability:** `schedule_read`

        **Response envelope:** KC `{status,message,data}`
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KcEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []
    put:
      tags:
        - clinic-schedules
      summary: Update clinic schedules by id
      operationId: put_api_v1_clinic_schedules_id
      description: |-
        **Capability:** `schedule_manage`

        **Response envelope:** KC `{status,message,data}`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KcEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
      security:
        - bearerAuth: []
  /api/v1/clinic-schedules/get-unavailable-schedule:
    post:
      tags:
        - clinic-schedules
      summary: Get Unavailable Schedule (POST) — clinic schedules
      operationId: post_api_v1_clinic_schedules_get_unavailable_schedule
      description: |-
        **Capability:** `schedule_read`

        **Response envelope:** KC `{status,message,data}`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KcEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
      security:
        - bearerAuth: []
  /api/v1/clinic-schedules/module:
    get:
      tags:
        - clinic-schedules
      summary: Module (GET) — clinic schedules
      operationId: get_api_v1_clinic_schedules_module
      description: |-
        **Capability:** `schedule_read`

        **Response envelope:** KC `{status,message,data}`
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KcEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
        - bearerAuth: []
  /api/v1/consent-forms:
    get:
      tags:
        - consent-forms
      summary: List consent forms
      operationId: get_api_v1_consent_forms
      description: '**Response envelope:** standard / RFC-7807 problem+json'
      parameters:
        - name: practiceId
          in: query
          required: false
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
      security: []
    post:
      tags:
        - consent-forms
      summary: Create consent forms
      operationId: post_api_v1_consent_forms
      description: '**Response envelope:** standard / RFC-7807 problem+json'
      parameters:
        - name: practiceId
          in: query
          required: false
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
      security: []
  /api/v1/consent-forms/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    delete:
      tags:
        - consent-forms
      summary: Delete consent forms by id
      operationId: delete_api_v1_consent_forms_id
      description: '**Response envelope:** standard / RFC-7807 problem+json'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []
    get:
      tags:
        - consent-forms
      summary: Get consent forms by id
      operationId: get_api_v1_consent_forms_id
      description: '**Response envelope:** standard / RFC-7807 problem+json'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []
    patch:
      tags:
        - consent-forms
      summary: Update consent forms by id
      operationId: patch_api_v1_consent_forms_id
      description: '**Response envelope:** standard / RFC-7807 problem+json'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
      security:
        - bearerAuth: []
  /api/v1/consent-forms/status:
    post:
      tags:
        - consent-forms
      summary: Status (POST) — consent forms
      operationId: post_api_v1_consent_forms_status
      description: '**Response envelope:** standard / RFC-7807 problem+json'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
      security:
        - bearerAuth: []
  /api/v1/consent-signatures:
    get:
      tags:
        - consent-signatures
      summary: List consent signatures
      operationId: get_api_v1_consent_signatures
      description: '**Response envelope:** standard / RFC-7807 problem+json'
      parameters:
        - name: clientId
          in: query
          required: false
          schema:
            type: string
        - name: formId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
      security: []
    post:
      tags:
        - consent-signatures
      summary: Create consent signatures
      operationId: post_api_v1_consent_signatures
      description: '**Response envelope:** standard / RFC-7807 problem+json'
      parameters:
        - name: clientId
          in: query
          required: false
          schema:
            type: string
        - name: formId
          in: query
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
      security: []
  /api/v1/custom-fields:
    get:
      tags:
        - custom-fields
      summary: List custom fields
      operationId: get_api_v1_custom_fields
      description: '**Response envelope:** standard / RFC-7807 problem+json'
      parameters:
        - name: clinicId
          in: query
          required: false
          schema:
            type: string
        - name: entityType
          in: query
          required: false
          schema:
            type: string
        - name: moduleType
          in: query
          required: false
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
      security: []
    post:
      tags:
        - custom-fields
      summary: Create custom fields
      operationId: post_api_v1_custom_fields
      description: '**Response envelope:** standard / RFC-7807 problem+json'
      parameters:
        - name: clinicId
          in: query
          required: false
          schema:
            type: string
        - name: entityType
          in: query
          required: false
          schema:
            type: string
        - name: moduleType
          in: query
          required: false
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
      security: []
  /api/v1/custom-fields/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    delete:
      tags:
        - custom-fields
      summary: Delete custom fields by id
      operationId: delete_api_v1_custom_fields_id
      description: '**Response envelope:** standard / RFC-7807 problem+json'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      security: []
    get:
      tags:
        - custom-fields
      summary: Get custom fields by id
      operationId: get_api_v1_custom_fields_id
      description: '**Response envelope:** standard / RFC-7807 problem+json'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      security: []
    patch:
      tags:
        - custom-fields
      summary: Update custom fields by id
      operationId: patch_api_v1_custom_fields_id
      description: '**Response envelope:** standard / RFC-7807 problem+json'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
      security: []
  /api/v1/custom-fields/file-upload:
    post:
      tags:
        - custom-fields
      summary: File Upload (POST) — custom fields
      operationId: post_api_v1_custom_fields_file_upload
      description: >-
        Accepts multipart/form-data and returns WordPress media attachment ids. Authenticated users only;
        `context=medical-report` is staff-only (SUPER_ADMIN/CLINIC_ADMIN/PROFESSIONAL/RECEPTIONIST) —
        `context=custom-field` (the default) is open to every authenticated role. Every file is validated
        (magic-byte sniff, extension agreement, 10 MB cap, max 10 files per request) before any file is
        written, so a validation failure never leaves orphaned media behind. Next.js forwards accepted files
        to the WordPress plugin's `POST /praktiqu/v1/media`, which performs the actual sideload — see that
        operation in the repo-root OpenAPI doc for the other half of the bridge.


        **Response envelope:** plain REST, not the KiviCare `{status,message,data}` envelope. Error bodies
        follow RFC-7807 shape but are not the generic `ValidationProblem` (`errors[]`) — see
        `UploadValidationProblem` below.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: One or more files. Max 10 per request.
                context:
                  type: string
                  enum:
                    - medical-report
                    - custom-field
                  default: custom-field
              required:
                - file
      responses:
        '201':
          description: All files sideloaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResult'
        '207':
          description: Some files sideloaded, some failed after validation passed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResult'
        '400':
          description: Not multipart/form-data, or no file part present
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: context=medical-report requested by a non-staff role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '422':
          description: >-
            A file failed validation (type/size), or more than 10 files were sent. Nothing is written in this
            case.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadValidationProblem'
        '502':
          description: Every accepted file failed to sideload into WordPress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadValidationProblem'
      security:
        - bearerAuth: []
  /api/v1/custom-fields/get-data:
    get:
      tags:
        - custom-fields
      summary: Get Data (GET) — custom fields
      operationId: get_api_v1_custom_fields_get_data
      description: '**Response envelope:** standard / RFC-7807 problem+json'
      parameters:
        - name: entityId
          in: query
          required: false
          schema:
            type: string
        - name: entityType
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - bearerAuth: []
  /api/v1/custom-fields/save-data:
    post:
      tags:
        - custom-fields
      summary: Save Data (POST) — custom fields
      operationId: post_api_v1_custom_fields_save_data
      description: '**Response envelope:** standard / RFC-7807 problem+json'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
      security:
        - bearerAuth: []
  /api/v1/custom-fields/status:
    post:
      tags:
        - custom-fields
      summary: Status (POST) — custom fields
      operationId: post_api_v1_custom_fields_status
      description: '**Response envelope:** standard / RFC-7807 problem+json'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
      security:
        - bearerAuth: []
  /api/v1/dashboard/recent-payments:
    get:
      tags:
        - dashboard
      summary: Recent Payments (GET) — dashboard
      operationId: get_api_v1_dashboard_recent_payments
      description: |-
        **Capability:** `dashboard_read`

        **Response envelope:** KC `{status,message,data}`
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KcEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
        - bearerAuth: []
  /api/v1/dashboard/revenue-chart:
    get:
      tags:
        - dashboard
      summary: Revenue Chart (GET) — dashboard
      operationId: get_api_v1_dashboard_revenue_chart
      description: |-
        **Capability:** `dashboard_read`

        **Response envelope:** KC `{status,message,data}`
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KcEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
        - bearerAuth: []
  /api/v1/dashboard/statistics:
    get:
      tags:
        - dashboard
      summary: Statistics (GET) — dashboard
      operationId: get_api_v1_dashboard_statistics
      description: |-
        **Capability:** `dashboard_read`

        **Response envelope:** KC `{status,message,data}`
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KcEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
        - bearerAuth: []
  /api/v1/dashboard/top-professionals:
    get:
      tags:
        - dashboard
      summary: Top Professionals (GET) — dashboard
      operationId: get_api_v1_dashboard_top_professionals
      description: |-
        **Capability:** `dashboard_read`

        **Response envelope:** KC `{status,message,data}`
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KcEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
        - bearerAuth: []
  /api/v1/dashboard/upcoming-sessions:
    get:
      tags:
        - dashboard
      summary: Upcoming Sessions (GET) — dashboard
      operationId: get_api_v1_dashboard_upcoming_sessions
      description: |-
        **Capability:** `dashboard_read`

        **Response envelope:** KC `{status,message,data}`
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KcEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
        - bearerAuth: []
  /api/v1/doctor-sessions:
    get:
      tags:
        - professional-sessions
      summary: List schedules
      operationId: get_api_v1_professional_sessions_alias
      description: >-
        **Capability:** `doctor_session_read`


        **Response envelope:** KC `{status,message,data}`


        **Deprecated.** Use the same operation under `/api/v1/professional-sessions`. This path is an alias
        kept for existing integrations and will be removed.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KcEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
        - bearerAuth: []
      deprecated: true
    post:
      tags:
        - professional-sessions
      summary: Create schedules
      operationId: post_api_v1_professional_sessions_alias
      description: >-
        **Capability:** `doctor_session_manage`


        **Response envelope:** KC `{status,message,data}`


        **Deprecated.** Use the same operation under `/api/v1/professional-sessions`. This path is an alias
        kept for existing integrations and will be removed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KcEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
      security:
        - bearerAuth: []
      deprecated: true
  /api/v1/doctor-sessions/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    delete:
      tags:
        - professional-sessions
      summary: Delete schedules by id
      operationId: delete_api_v1_professional_sessions_id_alias
      description: >-
        **Capability:** `doctor_session_manage`


        **Response envelope:** KC `{status,message,data}`


        **Deprecated.** Use the same operation under `/api/v1/professional-sessions`. This path is an alias
        kept for existing integrations and will be removed.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KcEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []
      deprecated: true
    get:
      tags:
        - professional-sessions
      summary: Get schedules by id
      operationId: get_api_v1_professional_sessions_id_alias
      description: >-
        **Capability:** `doctor_session_read`


        **Response envelope:** KC `{status,message,data}`


        **Deprecated.** Use the same operation under `/api/v1/professional-sessions`. This path is an alias
        kept for existing integrations and will be removed.
      responses:
        '200':
          description: Success
          content:
            application/json:
[...]
